In [ ]:
!pip install pandas scikit-learn

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

# Correct path to your file within Google Drive
data_path = '/content/preprocessed_dataset.csv' # Replace 'MyDrive' with the folder name where your CSV is located if necessary

import pandas as pd

# Load the data
data = pd.read_csv(data_path)

# Display the first few rows to verify it loaded correctly
print(data.head())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
  departure_time days_left source_city ch_code   flight    price    class  \
0          18:00   Unknown       Delhi      AI  Unknown  25612.0  Unknown
1          19:00   Unknown       Delhi      AI  Unknown  25612.0  Unknown
2          20:00   Unknown       Delhi      AI  Unknown  42220.0  Unknown
3          21:25   Unknown       Delhi      AI  Unknown  44450.0  Unknown
4          17:15   Unknown       Delhi      AI  Unknown  46690.0  Unknown

   num_code    airline duration        date     stops destination_city  \
0     868.0  Air India  02h 00m  11-02-2022  non-stop           Mumbai
1     624.0  Air India  02h 15m  11-02-2022  non-stop           Mumbai
2     531.0  Air India  24h 45m  11-02-2022    1-stop           Mumbai
3     839.0  Air India  26h 30m  11-02-2022    1-stop           Mumbai
4     544.0  Air India  06h 40m  11-02-2022    1-stop           Mumbai

  arrival_time
0        20:00
1        21:15
2        20:45
3        23:55
4        23:55

In [ ]:
import pandas as pd

# Load your data
data = pd.read_csv("/content/preprocessed_dataset.csv") # or data_path if you used Google Drive

# Display the first few rows of the data to make sure it loaded correctly
print(data.head())

  departure_time days_left source_city ch_code   flight    price    class  \
0          18:00   Unknown       Delhi      AI  Unknown  25612.0  Unknown
1          19:00   Unknown       Delhi      AI  Unknown  25612.0  Unknown
2          20:00   Unknown       Delhi      AI  Unknown  42220.0  Unknown
3          21:25   Unknown       Delhi      AI  Unknown  44450.0  Unknown
4          17:15   Unknown       Delhi      AI  Unknown  46690.0  Unknown

   num_code    airline duration        date     stops destination_city  \
0     868.0  Air India  02h 00m  11-02-2022  non-stop           Mumbai
1     624.0  Air India  02h 15m  11-02-2022  non-stop           Mumbai
2     531.0  Air India  24h 45m  11-02-2022    1-stop           Mumbai
3     839.0  Air India  26h 30m  11-02-2022    1-stop           Mumbai
4     544.0  Air India  06h 40m  11-02-2022    1-stop           Mumbai

  arrival_time
0        20:00
1        21:15
2        20:45
3        23:55
4        23:55

In [ ]:
# Get some basic information about the data
print(data.info())

# Get summary statistics for numerical columns
print(data.describe())

# Check for missing values
print(data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123447 entries, 0 to 123446
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   departure_time    123447 non-null  object
 1   days_left         123447 non-null  object
 2   source_city       123447 non-null  object
 3   ch_code           123447 non-null  object
 4   flight            123447 non-null  object
 5   price             123446 non-null  float64
 6   class             123446 non-null  object
 7   num_code          93487 non-null   float64
 8   airline           123446 non-null  object
 9   duration          123446 non-null  object
 10  date              123446 non-null  object
 11  stops             123446 non-null  object
 12  destination_city  123446 non-null  object
 13  arrival_time      123446 non-null  object
dtypes: float64(2), object(12)
memory usage: 13.2+ MB
None
               price      num_code
count  123446.000000  93487.000000
mean    41379.386145    780.056147
std     22793.443064    147.616038
min      2281.000000    401.000000
25%     20760.000000    706.000000
50%     49613.000000    820.000000
75%     57565.000000    874.000000
max    123071.000000    996.000000
departure_time          0
days_left               0
source_city             0
ch_code                 0
flight                  0
price                   1
class                   1
num_code            29960
airline                 1
duration                1
date                    1
stops                   1
destination_city        1
arrival_time            1
dtype: int64

In [ ]:
data = data.dropna()

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')
data_path = '/content/preprocessed_dataset.csv'  # Or whatever your correct path is

data = pd.read_csv(data_path)

print("Column Names:", data.columns)
print("First 5 Rows:\n", data.head())

try:
    data['Date'] = pd.to_datetime(data['Date'])
    print("Date conversion successful!")  # If it gets this far
except KeyError as e:
    print(f"KeyError: {e}")
except Exception as e:
    print(f"Other error: {e}")

print("Code finished.")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Column Names: Index(['departure_time', 'days_left', 'source_city', 'ch_code', 'flight',
       'price', 'class', 'num_code', 'airline', 'duration', 'date', 'stops',
       'destination_city', 'arrival_time'],
      dtype='object')
First 5 Rows:
   departure_time days_left source_city ch_code   flight    price    class  \
0          18:00   Unknown       Delhi      AI  Unknown  25612.0  Unknown
1          19:00   Unknown       Delhi      AI  Unknown  25612.0  Unknown
2          20:00   Unknown       Delhi      AI  Unknown  42220.0  Unknown
3          21:25   Unknown       Delhi      AI  Unknown  44450.0  Unknown
4          17:15   Unknown       Delhi      AI  Unknown  46690.0  Unknown

   num_code    airline duration        date     stops destination_city  \
0     868.0  Air India  02h 00m  11-02-2022  non-stop           Mumbai
1     624.0  Air India  02h 15m  11-02-2022  non-stop           Mumbai
2     531.0  Air India  24h 45m  11-02-2022    1-stop           Mumbai
3     839.0  Air India  26h 30m  11-02-2022    1-stop           Mumbai
4     544.0  Air India  06h 40m  11-02-2022    1-stop           Mumbai

  arrival_time
0        20:00
1        21:15
2        20:45
3        23:55
4        23:55
KeyError: 'Date'
Code finished.

<ipython-input-18-960c86823926>:7: DtypeWarning: Columns (1,9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(data_path)

In [ ]:
import pandas as pd
from google.colab import drive
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
import numpy as np

drive.mount('/content/drive')
data_path = '/content/preprocessed_dataset.csv'

# Load Data
data = pd.read_csv(data_path, low_memory=False)

# Remove rows where 'days_left' is "Unknown"
data = data[data['days_left'] != "Unknown"]

# Convert 'days_left' to integer
data['days_left'] = pd.to_numeric(data['days_left'], errors='coerce').astype('Int64')

# Convert 'date' column
data['date'] = pd.to_datetime(data['date'], format="%d-%m-%Y", errors='coerce')
data['date'] = data['date'].fillna(data['date'].median())  # Impute missing dates

# Extract date features
data['Day'] = data['date'].dt.day
data['Month'] = data['date'].dt.month
data['Year'] = data['date'].dt.year
data.drop(columns=['date'], inplace=True)

# Handle non-time values in 'departure_time' and 'arrival_time'
time_mappings = {
    "Evening": "18:00",
    "Morning": "08:00",
    "Night": "22:00",
    "Early_Morning": "05:00"
}
data['departure_time'] = data['departure_time'].replace(time_mappings)
data['arrival_time'] = data['arrival_time'].replace(time_mappings)

# Convert time columns to hours
data['departure_time_hour'] = pd.to_datetime(data['departure_time'], format='%H:%M', errors='coerce').dt.hour
data['arrival_time_hour'] = pd.to_datetime(data['arrival_time'], format='%H:%M', errors='coerce').dt.hour

# Drop original time columns
data.dropna(subset=['departure_time_hour', 'arrival_time_hour'], inplace=True)
data.drop(columns=['departure_time', 'arrival_time'], inplace=True)

# One-hot encode categorical features
categorical_columns = ['source_city', 'destination_city', 'class', 'airline']
data = pd.get_dummies(data, columns=categorical_columns)

# Convert all columns that should be numeric
for col in data.columns:
    data[col] = pd.to_numeric(data[col], errors='coerce')

# Feature Scaling
scaler = StandardScaler()

# Identify numerical columns (excluding target variable 'price')
numerical_cols = data.select_dtypes(include=['number']).columns.tolist()
numerical_cols.remove('price')

# Apply scaling
data[numerical_cols] = scaler.fit_transform(data[numerical_cols])

# Prepare Data for Training
X = data.drop(columns=['price'])
y = data['price']

# Split Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Evaluate Model
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

# Example Prediction
new_flight = {
    'days_left': 5,
    'duration': 2,
    'stops': 0,
    'departure_time_hour': 18,
    'arrival_time_hour': 18,
    'Day': 15,
    'Month': 7,
    'Year': 2024,
    'source_city_Delhi': 0,
    'source_city_Mumbai': 1,
    'source_city_Bangalore': 0,
    'source_city_Chennai': 0,
    'destination_city_Delhi': 0,
    'destination_city_Mumbai': 1,
    'destination_city_Bangalore': 0,
    'destination_city_Chennai': 0,
    'class_Economy': 1,
    'class_Business': 0,
    'airline_AirIndia': 1,
    'airline_Indigo': 0,
    'airline_SpiceJet': 0
}

# Convert to DataFrame
new_flight_df = pd.DataFrame([new_flight])
new_flight_df = new_flight_df.reindex(columns=X.columns, fill_value=0)

# Scale numerical features
new_flight_df[numerical_cols] = scaler.transform(new_flight_df[numerical_cols])

# Predict Price
predicted_price = model.predict(new_flight_df)[0]
print(f"Predicted Price: {predicted_price}")
print("Code reached the end.")
print(f"X_test shape: {X_test.shape}")
print(f"y_pred: {y_pred}")
print(f"MSE: {mse}")
print(f"Predicted price {predicted_price}")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

/usr/local/lib/python3.11/dist-packages/numpy/lib/_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/usr/local/lib/python3.11/dist-packages/sklearn/utils/extmath.py:1101: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/usr/local/lib/python3.11/dist-packages/sklearn/utils/extmath.py:1106: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
/usr/local/lib/python3.11/dist-packages/sklearn/utils/extmath.py:1126: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

Mean Squared Error: 2324333.4713747846
R-squared: 0.8372128138435175
Predicted Price: 6007.06
Code reached the end.
X_test shape: (8090, 26)
y_pred: [10400.76   3885.63   7790.    ...  7319.07   8003.79   6331.705]
MSE: 2324333.4713747846
Predicted price 6007.06

In [ ]:
new_flight = {
    'days_left': 5,
    'duration': 2,
    'stops': 0,
    'departure_time_hour' : 18,
    'arrival_time_hour' : 18,
    'Day': 15,
    'Month': 7,
    'Year': 2024,
    'source_city_Delhi': 0,
    'source_city_Mumbai': 1,
    'source_city_Bangalore': 0,
    'source_city_Chennai': 0,
    'destination_city_Delhi': 0,
    'destination_city_Mumbai': 1,
    'destination_city_Bangalore': 0,
    'destination_city_Chennai': 0,
    'class_Economy': 1,
    'class_Business': 0,
    'airline_AirIndia' : 1,
    'airline_Indigo' : 0,
    'airline_SpiceJet' : 0
}

In [ ]:
new_flight = {
    'days_left': 5,
    'duration': 2,
    'stops': 0,
    'departure_time_hour' : 18,
    'arrival_time_hour' : 18,
    'Day': 15,
    'Month': 7,
    'Year': 2024,
    'source_city_Delhi': 0,
    'source_city_Mumbai': 1,
    'source_city_Bangalore': 0,
    'source_city_Chennai': 0,
    'destination_city_Delhi': 0,
    'destination_city_Mumbai': 1,
    'destination_city_Bangalore': 0,
    'destination_city_Chennai': 0,
    'class_Economy': 1,
    'class_Business': 0,
    'airline_AirIndia' : 1,
    'airline_Indigo' : 0,
    'airline_SpiceJet' : 0
}